{% extends 'base.html' %}

  {% block content %}
 
  <div class="row">
    <!-- Left sidebar -->
    <!-- load sidebar here -->
    {% include 'dashboard/sidebar.html' %}
    {% load crispy_forms_tags %}
    
    <!-- Right sidebar -->
    <div class="col-md-9">
        <h2>Add category</h2>

        <form action="{% url 'add_category' %}" method="POST" style="width: 500px;">
            {% csrf_token %}
            {{ form |crispy}}
            <button type="submit" class="btn btn-warning">Submit</button>
            
        </form>
        <br>
    </div>

  </div>  
  {% endblock %}  