{% extends 'base.html' %}

  {% block content %}
  <div class="row">
    <!-- Left sidebar -->
    <!-- load sidebar here -->
    {% include 'dashboard/sidebar.html' %}
    
    <!-- Right sidebar -->
    <div class="col-md-9">
      <table class="table table-hover">
        <h4>All Categories</h4>
        <a href="{% url 'add_category' %}" class="btn btn-dark text-light float-right mb-2">Add new </a>
        <thead>
<!-- categories in context processors -->
          <tr>
            <th>#</th>
            <th >Category Name</th>
            <th >Category At</th>
            <th >Updated at</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          {% for cat in categories %}
          <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{cat}}</td>
            <td>{{cat.creted_at}}</td>
            <td>{{cat.updated_at}}</td>
            <td>
              <a href="{% url 'edit_category' cat.id %}"><i class="fa fa-edit text-success"></i></a>
              &nbsp;
              <a href="{% url 'delete_category' cat.id %}"><i class="fa fa-trash text-danger"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
    </div>

  </div>

{% endblock %}  